<footer style="background-color: #4169E1;">
    <hr />
    <br />
    <div class="rodape">
        <div class="conteudo">
        <div class="tabela1">
        <table>
            <tr>
                <ul>
                    <p style="text-align: center; color: #fff;">Digimon Store &copy; - 2025</p>
                    <li>©Akiyoshi Hongo, Toei Animation</li>
                    <li>© Akiyoshi Hongo, Fuji TV, Toei Animation</li>
                    <li>© Toei, Shueisha,Toei Animation</li>
                    <li>© Toei, Toei Animation, Shueisha, Fuji TV, Bandai</li>
                    <li>© Toei, Toei Animation, Bandai, Yomiuri Advertising Company</li>
                    <li>© Toei, Toei Animation, Bandai, Shueisha, Yomiko Advertising</li>
                    <li>© Toei ,Toei Animation , Bandai, Yomiuri Advertising, Shueisha</li>
                    <li>© 2006 DSTM Production Committee</li>
                    <li>© BANDAI NAMCO Entertainment Inc.</li>
                </ul>
            </tr>
        </table>
        </div>
        <div class="tabela2">
        <table>
            <tr>
                <ul>
                    <li> As imagens neste site são apenas para fins de ilustração. Por favor, esteja ciente de que estes podem diferir do produto real.</li>
                    <li>É estritamente proibido o uso ou reprodução de qualquer imagem, texto ou dados contidos neste site.</li>
                    <li>Para navegar corretamente neste site, verifique os requisitos do sistema.</li>
                    <li>Este site usa informações de cookies concedidas para usar alguns serviços.
Ao usar este site, você concorda com o uso de cookies. Por favor, verifique nossa política de privacidade (japonês) para obter mais informações.</li>
                    <li>Este site é baseado em japonês.</li>
                    <li> Para outros idiomas além do japonês, a tradução automática é usada, então pode haver traduções incorretas.</li>
                    <li> Nomes de Digimon e outros nomes podem diferir do japonês dependendo da língua.</li>
                    <li>Se o nome for decidido em cada idioma, a notação do nome pode mudar.</li>
                </ul>
            </tr>
        </table>
        </div>
        </div>
    </div>
    <a href="#top" class="btn-top">↑</a>
</footer>
</body>
<!-- Importando o scritp ta pasta "PUBLIC" -->
 <script src="/javascript/script.js"></script>
<!-- script do Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>