<nav class="navbar navbar-expand-lg custom-navbar" style="background-color: #0077cc;">
  <div class="container-fluid d-flex align-items-center">
    
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="/"> 
      <img src="/images/logo.png" width="80" height="80" class="d-inline-block align-top me-3" alt="Logo Digimon">
    </a>

    <!-- Botão hamburguer para mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item active">
          <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/produtos">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/pedidos">Pedidos</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>
