<%- include ('partials/header.ejs') %>
  

<link rel="stylesheet" href="/css/style.css">
<div class="call">
    <div class="logo-text-container"> 
      <a id="top"></a> 
      <h1>Bem-vindo à Digimon Store!</h1>
    </div>
    <%- include ('partials/navbar.ejs') %>
  </div>
    <hr>
    <p>O centro de produtos de digimon!</p>
    <div class="logo">
    <img src="/images/digimon_logo.png" alt="NODE JS"> 
    </div>
    <div class="conteudo">
      <div class="banners">
        <img src="/images/banner1.jpg">
        <img src="/images/banner2.jpg">
        <img src="/images/banner3.jpg">
      </div>
    </div>
    

    </div>
    
    <%- include ('partials/footer.ejs') %>